/* font */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: keep-all;
}

ul, li {
  list-style: none;
}

a {
  color: #333333;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #000000;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #111111;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading .round {
  position: relative;
  width: 50px;
  height: 50px;
}

.loading .round::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 64px;
  height: 64px;
  margin-top: -32px;
  margin-left: -32px;
  border-radius: 50%;
  border: 4px solid #ffffff;
  border-top-color: #000000;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

section.main-section {
  display: flex;
}

section.main-section .left {
  width: 30%;
  position: relative;
  display: flex;
  gap: 30px;
}

section.main-section .left .profiles {
  margin: 48px;
}

section.main-section .left .profiles .profile-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

section.main-section .left .profiles .profile-image img {
  width: 100%;
  max-width: 575px;
  max-height: 720px;
}

section.main-section .left .profiles .profile-desc {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 48px;
}

section.main-section .left .profiles .profile-desc h3 {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  color: #ffffff;
}

section.main-section .left .profiles .profile-desc h3.text::after {
  content: '';
  margin-left: .4rem;
  border-right: 2px solid #ffffff;
  animation: cursor 0.8s infinite steps(2);
}

@keyframes cursor {
  from {
    border-right: 2px solid #000000;
  }
  to {
    border-right: 2px solid #ffffff;
  }
}

section.main-section .left .profiles .profile-desc .text {
  font-weight: 600;
  font-size: 50px;
}

section.main-section .left .profiles .profile-desc p {
  margin-top: 12px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
  opacity: 0.6;
}

section.main-section .left .line {
  position: absolute;
  right: 0;
  display: block;
  width: 2px;
  height: 0vh;
  background: #ffffff;
}

section.main-section .left .line-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 0;
  height: 2px;
  background: #ffffff;
}

section.main-section .right {
  width: 70%;
  position: relative;
}

section.main-section .right > div {
  width: 100%;
  position: relative;
}

section.main-section .right > div .line {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: 0%;
  height: 2px;
  background: #ffffff;
}

section.main-section .right .first {
  display: flex;
  align-items: center;
}

section.main-section .right .first .content {
  width: 93%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section.main-section .right .first .content .logo {
  display: flex;
  gap: 12px;
}

section.main-section .right .first .content .logo .lord-icon {
  display: block;
}

section.main-section .right .second .content {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  padding-left: 45px;
}

section.main-section .right .second .content .title {
  width: 10%;
}

section.main-section .right .second .content .title h3 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #ffffff;
}

section.main-section .right .second .content .desc-box {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

section.main-section .right .second .content .desc-box .desc {
  width: 100%;
}

section.main-section .right .second .content .desc-box .desc p {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: #ffffff;
}

section.main-section .right .second .content .desc-box .desc p span {
  font-weight: 600;
}

section.main-section .right .second .content .desc-box .desc ul li {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: #ffffff;
}

section.main-section .right .third > .content {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px 24px 48px;
  padding-left: 45px;
}

section.main-section .right .third > .content .title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section.main-section .right .third > .content .title h3 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #ffffff;
}

section.main-section .right .third > .content .title .swiper-button .swiper-button-next,
section.main-section .right .third > .content .title .swiper-button .swiper-button-prev {
  position: unset;
  top: unset;
  width: unset;
  height: unset;
  margin-top: unset;
  z-index: 10;
  cursor: pointer;
  display: unset;
  align-items: unset;
  justify-content: unset;
  color: unset;
}

section.main-section .right .third > .content .title .swiper-button .swiper-button-next::after,
section.main-section .right .third > .content .title .swiper-button .swiper-button-prev::after {
  content: "";
  font-family: unset;
  font-size: unset;
  text-transform: unset;
  letter-spacing: unset;
  font-variant: unset;
  line-height: unset;
}

section.main-section .right .third > .content .mySwiper {
  width: 100%;
}

section.main-section .right .third > .content .mySwiper .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 230px;
}

section.main-section .right .third > .content .mySwiper .swiper-wrapper .swiper-slide .content {
  width: 100%;
}

section.main-section .right .third > .content .mySwiper .swiper-wrapper .swiper-slide .content a {
  display: block;
}

section.main-section .right .third > .content .mySwiper .swiper-wrapper .swiper-slide .content a img {
  width: 100%;
  visibility: hidden;
}

section.main-section .right .third > .content .mySwiper .swiper-wrapper .swiper-slide .content a .hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: all 0.3s;
}

section.main-section .right .third > .content .mySwiper .swiper-wrapper .swiper-slide .content a .hover h3 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 29px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}

section.main-section .right .third > .content .mySwiper .swiper-wrapper .swiper-slide .content a .hover > span {
  display: block;
  opacity: 0.5;
  width: 40px;
  height: 1px;
  background: #FFFFFF;
  margin: 20px 0;
}

section.main-section .right .third > .content .mySwiper .swiper-wrapper .swiper-slide .content a .hover ul li {
  display: flex;
  align-items: center;
}

section.main-section .right .third > .content .mySwiper .swiper-wrapper .swiper-slide .content a .hover ul li p {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  width: 80px;
  margin-right: 20px;
}

section.main-section .right .third > .content .mySwiper .swiper-wrapper .swiper-slide .content a .hover ul li span {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}

section.main-section .right .third > .content .mySwiper .swiper-wrapper .swiper-slide .content:hover a .hover {
  opacity: 1;
}

section.main-section .right .third > .content .mySwiper .swiper-wrapper .swiper-slide01 {
  background: url(../img/49week.jpg) no-repeat center center;
  background-size: cover;
}

section.main-section .right .third > .content .mySwiper .swiper-wrapper .swiper-slide02 {
  background: url(../img/yellowpage.jpg) no-repeat center center;
  background-size: cover;
}

section.main-section .right .third > .content .mySwiper .swiper-wrapper .swiper-slide03 {
  background: url(../img/bionara.jpg) no-repeat center center;
  background-size: cover;
}

section.main-section .right .third > .content .mySwiper .swiper-wrapper .swiper-slide04 {
  background: url(../img/metaclix.jpg) no-repeat center center;
  background-size: cover;
}

section.main-section .right .third > .content .mySwiper .swiper-wrapper .swiper-slide05 {
  background: url(../img/littlebig.jpg) no-repeat center center;
  background-size: cover;
}

section.main-section .right .third > .content .mySwiper .swiper-wrapper .swiper-slide06 {
  background: url(../img/hutech.jpg) no-repeat center center;
  background-size: cover;
}

section.main-section .right .third > .content .mySwiper .swiper-wrapper .swiper-slide07 {
  background: url(../img/kproject.jpg) no-repeat center center;
  background-size: cover;
}

section.main-section .right .third > .content .mySwiper .swiper-wrapper .swiper-slide08 {
  background: url(../img/seyon-network.jpg) no-repeat center center;
  background-size: cover;
}

section.main-section .right .third > .content .mySwiper .swiper-wrapper .swiper-slide09 {
  background: url(../img/flavum.png) no-repeat center center;
  background-size: cover;
}

section.main-section .right .third > .content .mySwiper .swiper-wrapper .swiper-slide10 {
  background: url(../img/txid.png) no-repeat center center;
  background-size: cover;
}

section.main-section .right .fourth .fourth-box {
  display: flex;
}

section.main-section .right .fourth .fourth-box > .content {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  padding-left: 45px;
}

section.main-section .right .fourth .fourth-box > .content .line-vertical {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 2px;
  height: 0;
  background: #ffffff;
}

section.main-section .right .fourth .fourth-box > .content .title {
  width: 10%;
}

section.main-section .right .fourth .fourth-box > .content .title h3 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #ffffff;
}

section.main-section .right .fourth .fourth-box > .content > .txt {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}

section.main-section .right .fourth .fourth-box > .content > .txt a {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}

section.main-section .right .fourth .fourth-box > .content .bottom {
  display: flex;
  align-items: center;
  gap: 24px;
}

section.main-section .right .fourth .fourth-box > .content .bottom .txt {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}

section.main-section .right .fourth .fourth-box > .content .bottom .txt h3 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
}

section.main-section .right .fourth .fourth-box > .content .bottom .txt a {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}

section.main-section .right .fifth > .content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 12px;
}

section.main-section .right .fifth > .content .copy p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}
