@media (max-width: 900px) {
  .hidden {
    overflow: hidden;
  }
  /* header */
  header {
    width: 80%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
    right: 0;
    top: 20px;
    margin: auto;
    background: rgba(7, 59, 76, 0.5);
    padding: 20px 35px;
    z-index: 99999;
    transition: all 0.5s;
  }
  header .left {
    transition: all 0.5s;
  }
  header .left h3 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
  }
  header .right {
    transition: all 0.5s;
  }
  header .right ul {
    display: none;
  }
  header .right .m-menu-btn {
    display: block;
  }
  header .right .m-menu-btn span {
    display: block;
    width: 20px;
    height: 2px;
    background: #FFFFFF;
    position: relative;
    transition: all 0.3s;
  }
  header .right .m-menu-btn span:nth-child(2) {
    margin: 5px 0;
    opacity: 1;
    visibility: visible;
  }
  header .right .m-menu-btn.open span {
    display: block;
    width: 20px;
    height: 2px;
    background: #FFFFFF;
  }
  header .right .m-menu-btn.open span:nth-child(1) {
    top: 1px;
    transform: rotate(45deg);
  }
  header .right .m-menu-btn.open span:nth-child(2) {
    margin: 0;
    opacity: 0;
    visibility: hidden;
  }
  header .right .m-menu-btn.open span:nth-child(3) {
    top: -3px;
    transform: rotate(-45deg);
  }
  header.fixed {
    width: 100%;
    background: #073b4c;
    padding: 20px 10%;
    top: 0px;
  }
  .m-memu {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(7, 59, 76, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 5000;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.7s;
  }
  .m-memu ul li {
    margin-bottom: 48px;
  }
  .m-memu ul li a {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 21px;
    color: #FFFFFF;
  }
  .m-memu.open {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
  }
  /* section */
  .section01 {
    height: 700px;
  }
  .section01 h3 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    letter-spacing: -4px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 40px;
  }
  .section01 p {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 52px;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: -2px;
    white-space: nowrap;
  }
  .section02 {
    width: 100%;
    background: #F6F6F6;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .section02 .top {
    margin-bottom: 40px;
  }
  .section02 .top p {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #2B829E;
    margin-bottom: 10px;
  }
  .section02 .top h3 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #111111;
  }
  .section02 .bottom {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    width: 80%;
    margin: 0 auto;
  }
  .section02 .bottom .content {
    padding: 35px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section02 .bottom .content p {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #111111;
    word-break: keep-all;
    margin-top: 20px;
  }
  .section03 {
    width: 100%;
    padding: 40px 0;
  }
  .section03 .top p {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #2B829E;
    margin-bottom: 10px;
  }
  .section03 .top h3 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #111111;
  }
  .section03 .mySwiper {
    padding-top: 140px;
  }
  .section03 .mySwiper .swiper-wrapper .swiper-slide .content-wrap {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    margin: auto;
  }
  .section03 .mySwiper .swiper-wrapper .swiper-slide .content-wrap .content a .hover {
    opacity: 1;
  }
  .section03 .mySwiper .swiper-wrapper .swiper-slide .content-wrap .content a .hover h3 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
  }
  .section03 .mySwiper .swiper-pagination {
    top: 35px;
  }
  .section03 .mySwiper .swiper-pagination .swiper-pagination-bullet {
    width: 100px;
    height: 30px;
  }
  .section03 .mySwiper .swiper-pagination .swiper-pagination-bullet::after {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    color: #666666;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transition: all 0.3s;
  }
  .section04 {
    width: 100%;
    padding: 40px 0;
    background: #F6F6F6;
  }
  .section04 .top {
    margin-bottom: 40px;
  }
  .section04 .top p {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #2B829E;
    margin-bottom: 10px;
  }
  .section04 .top h3 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #111111;
  }
  .section04 .bottom {
    position: relative;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 60px;
    align-items: center;
    background: url(../img/section04_01.jpg) no-repeat center center;
    background-size: cover;
    padding: 20px;
  }
  .section04 .bottom span {
    position: absolute;
    display: block;
    width: 80px;
    height: 1px;
    background: #FFFFFF;
    opacity: 0.5;
    left: 0;
    right: 0;
    margin: auto;
  }
  .section04 .bottom .left {
    width: 100%;
  }
  .section04 .bottom .left img {
    margin-right: 20px;
  }
  .section04 .bottom .left .text h3 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    margin-bottom: 5px;
  }
  .section04 .bottom .left .text a {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    word-break: break-all;
  }
  .section04 .bottom .right {
    width: 100%;
  }
  .section04 .bottom .right img {
    margin-right: 20px;
  }
  .section04 .bottom .right .text h3 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    margin-bottom: 5px;
  }
  .section04 .bottom .right .text a {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    word-break: break-all;
  }
  footer p {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    padding: 20px 0;
  }
}
