/* font */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li{
    list-style: none;
}
a{
    color: #333;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
section{
    overflow: hidden;
}

/* header */

header{
    width: 63.059%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
    right: 0;
    top: 20px;
    margin: auto;
    background: rgba(7, 59, 76, 0.5);
    padding: 20px 35px;
    z-index: 99999;
    transition: all 0.5s;
    .left{
        transition: all 0.5s;
        h3{
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 21px;
            color: #FFFFFF;
        }
    }
    .right{
        transition: all 0.5s;
        ul{
            display: flex;
            li{
                margin-left: 50px;
                a{
                    font-family: 'DM Sans';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 21px;
                    color: #FFFFFF;
                    opacity: 0.5;
                    position: relative;
                    transition: all 0.3s;
                }
                a::after{
                    position: absolute;
                    content: "";
                    width: 0%;
                    height: 3px;
                    background: #FFFFFF;
                    opacity: 0.5;
                    left: 0;
                    bottom: -20px;
                    transition: all 0.3s;
                }
                a:hover{
                    opacity: 1;
                }
                a:hover::after{
                    width: 100%;
                }
            }
            li.open{
                a{
                    font-family: 'DM Sans';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 21px;
                    color: #FFFFFF;
                    opacity: 1;
                    position: relative;
                    transition: all 0.3s;
                }
                a::after{
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 3px;
                    background: #FFFFFF;
                    opacity: 0.5;
                    left: 0;
                    bottom: -20px;
                    transition: all 0.3s;
                }
            }
        }
        .m-menu-btn{
            display: none;
        }
    }
}
header.fixed{
    width: 100%;
    background: rgba(7, 59, 76, 1);
    padding: 20px 19%;
    top: 0px;
}
.m-memu{
    display: none;
}
/* section01 */

.section01{
    width: 100%;
    height: 1000px;
    background: url(../img/section01_01.jpg) no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h3{
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 78px;
        letter-spacing: -6px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 50px;
        span{
            display: inline-block;
            opacity: 0;
            filter: blur(4px);
        }
        span:nth-child(1){
            animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }
        span:nth-child(2) {
            animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }
        span:nth-child(3) {
            animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }
        span:nth-child(4) {
            animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }
        span:nth-child(5) {
            animation: fade-in 0.8s 1.0s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }
        span:nth-child(6) {
            animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }
        span:nth-child(7) {
            animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }

        span:nth-child(9) {
            animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }
        span:nth-child(10) {
            animation: fade-in 0.8s 2.0s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }

        span:nth-child(12) {
            animation: fade-in 0.8s 2.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }
        span:nth-child(13) {
            animation: fade-in 0.8s 2.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }
        span:nth-child(14) {
            animation: fade-in 0.8s 2.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }
        span:nth-child(15) {
            animation: fade-in 0.8s 3.0s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }
        span:nth-child(16) {
            animation: fade-in 0.8s 3.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }
        span:nth-child(17) {
            animation: fade-in 0.8s 3.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }
        span:nth-child(18) {
            animation: fade-in 0.8s 3.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }
        span:nth-child(19) {
            animation: fade-in 0.8s 3.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }
        span:nth-child(20) {
            animation: fade-in 0.8s 4.0s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }
        @keyframes fade-in {
            100% {
                opacity: 1;
                filter: blur(0);
            }
        }
    }
    p{
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 52px;
        text-align: center;
        color: #FFFFFF;
        letter-spacing: -4px;
        span{
            display: inline-block;
            opacity: 0;
            filter: blur(4px);
        }
        span:nth-child(1){
            animation: fade-in 0.8s 4.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }
        span:nth-child(2) {
            animation: fade-in 0.8s 4.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }
        span:nth-child(3) {
            animation: fade-in 0.8s 4.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }
        span:nth-child(4) {
            animation: fade-in 0.8s 5.0s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }
        span:nth-child(5) {
            animation: fade-in 0.8s 5.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }
        span:nth-child(6) {
            animation: fade-in 0.8s 5.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }
        span:nth-child(7) {
            animation: fade-in 0.8s 5.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }
        span:nth-child(8) {
            animation: fade-in 0.8s 5.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }
        span:nth-child(9) {
            animation: fade-in 0.8s 6.0s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }
        span:nth-child(10) {
            animation: fade-in 0.8s 6.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }
        span:nth-child(11) {
            animation: fade-in 0.8s 6.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }
        span:nth-child(12) {
            animation: fade-in 0.8s 6.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }
        span:nth-child(13) {
            animation: fade-in 0.8s 6.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }
        @keyframes fade-in {
            100% {
                opacity: 1;
                filter: blur(0);
            }
        }
    }
}

/* section02 */

.section02{
    width: 100%;
    background: #F6F6F6;
    padding-top: 60px;
    padding-bottom: 120px;
    .top{
        margin-bottom: 60px;
        p{
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 31px;
            text-align: center;
            color: #2B829E;
            margin-bottom: 15px;
        }
        h3{
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 52px;
            text-align: center;
            letter-spacing: -0.02em;
            color: #111111;
        }
    }
    .bottom{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;
        width: 63.059%;
        margin: 0 auto;
        .content{
            padding: 35px 35px;
            background: #FFFFFF;
            display: flex;
            flex-direction: column;
            align-items: center;
            p{
                font-family: 'Noto Sans KR';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 23px;
                text-align: center;
                letter-spacing: -0.02em;
                color: #111111;
                word-break: keep-all;
                margin-top: 40px;
                span{
                    font-weight: 700;
                    color: #2B829E;
                }
            }
        }
        .content:nth-child(3){
            p:nth-child(3){
                margin-top: 0px;
            }
            p:nth-child(4){
                margin-top: 0px;
            }
        }
    }
}

/* section03 */

.section03{
    width: 100%;
    padding: 120px 0;
    .top{
        // margin-bottom: 60px;
        p{
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 31px;
            text-align: center;
            color: #2B829E;
            margin-bottom: 15px;
        }
        h3{
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 52px;
            text-align: center;
            letter-spacing: -0.02em;
            color: #111111;
        }
    }
    .mySwiper{
        padding-top: 165px;
        .swiper-wrapper{
            .swiper-slide{
                .content-wrap{
                    width: 63.059%;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    gap: 30px;
                    margin: auto;
                    .content{
                        position: relative;
                        border: 1px solid #e9e9e9;
                        a{
                            display: block;
                            img{
                                width: 100%;
                                visibility: hidden;
                            }
                            .hover{
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                top: 0;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                background: rgba(0, 0, 0, 0.7);
                                opacity: 0;
                                transition: all 0.3s;
                                h3{
                                    font-family: 'DM Sans';
                                    font-style: normal;
                                    font-weight: 700;
                                    font-size: 22px;
                                    line-height: 29px;
                                    text-align: center;
                                    letter-spacing: -0.02em;
                                    color: #FFFFFF;
                                }
                                >span{
                                    display: block;
                                    opacity: 0.5;
                                    width: 40px;
                                    height: 1px;
                                    background: #FFFFFF;
                                    margin: 20px 0;
                                }
                                ul{
                                    li{
                                        display: flex;
                                        align-items: center;
                                        p{
                                            font-family: 'Noto Sans KR';
                                            font-style: normal;
                                            font-weight: 400;
                                            font-size: 16px;
                                            line-height: 23px;
                                            letter-spacing: -0.02em;
                                            color: #FFFFFF;
                                            width: 80px;
                                            margin-right: 20px;
                                        }
                                        span{
                                            font-family: 'Noto Sans KR';
                                            font-style: normal;
                                            font-weight: 700;
                                            font-size: 18px;
                                            line-height: 29px;
                                            letter-spacing: -0.02em;
                                            color: #FFFFFF;                                            
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .content:hover{
                        a{
                            .hover{
                                opacity: 1;
                            }
                        }
                    }
                }
            }
            .swiper-slide01{
                .content-wrap{
                    .content01{
                        background: url(../img/bionara.jpg) no-repeat center center;
                        background-size: cover;
                    }
                    .content02{
                        background: url(../img/metaclix.jpg) no-repeat center center;
                        background-size: cover;
                    }
                    .content03{
                        background: url(../img/yellowpage.jpg) no-repeat center center;
                        background-size: cover;
                    }
                    .content04{
                        background: url(../img/49week.jpg) no-repeat left;
                        background-size: cover;
                    }
                    .content05{
                        background: url(../img/littlebig.jpg) no-repeat 73%;
                        background-size: cover;
                    }
                    .content06{
                        background: url(../img/hutech.jpg) no-repeat left;
                        background-size: 100%;
                    }
                }
            }
            .swiper-slide02{
                .content-wrap{
                    .content01{
                        background: url(../img/kproject.jpg) no-repeat left;
                        background-size: cover;
                    }
                    .content02{
                        background: url(../img/cvs.jpg) no-repeat 70%;
                        background-size: cover;
                    }
                    .content03{
                        background: url(../img/techxen.jpg) no-repeat center center;
                        background-size: cover;
                    }
                    .content04{
                        background: url(../img/yourbrand.jpg) no-repeat center center;
                        background-size: cover;
                    }
                    .content05{
                        background: url(../img/exolube.jpg) no-repeat center center;
                        background-size: cover;
                    }
                    .content06{
                        background: url(../img/ignis.jpg) no-repeat center center;
                        background-size: cover;
                    }
                }
            }
            .swiper-slide03{
                .content-wrap{
                    .content01{
                        background: url(../img/futuresec.jpg) no-repeat left;
                        background-size: cover;
                    }
                    .content02{
                        background: url(../img/lavelee.jpg) no-repeat left;
                        background-size: cover;
                    }
                    .content03{
                        background: url(../img/seyon-network.jpg) no-repeat center center;
                        background-size: cover;
                    }
                }
            }
        }
        .swiper-pagination{
            top: 60px;
            bottom: unset;
            .swiper-pagination-bullet{
                width: 132px;
                height: 45px;
                border: 1px solid #CCCCCC;
                border-radius: 25px;
                background: #FFFFFF;
                opacity: 1;
                position: relative;
                transition: all 0.3s;
            }
            .swiper-pagination-bullet:hover{
                background: #073B4C;
            }
            .swiper-pagination-bullet:hover::after{
                color: #FFFFFF;
            }
            .swiper-pagination-bullet-active{
                background: #073B4C;
            }
            .swiper-pagination-bullet::after{
                position: absolute;
                content: "";
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 21px;
                text-align: center;
                color: #666666;
                left: 0;
                right: 0;
                top: 10px;
                bottom: 0;
                margin: auto;
                transition: all 0.3s;
            }
            .swiper-pagination-bullet:nth-child(1)::after{
                content: "Page 01";
            }
            .swiper-pagination-bullet:nth-child(2)::after{
                content: "Page 02";
            }
            .swiper-pagination-bullet:nth-child(3)::after{
                content: "Page 03";
            }
            .swiper-pagination-bullet-active:nth-child(1)::after{
                color: #FFFFFF;
            }
            .swiper-pagination-bullet-active:nth-child(2)::after{
                color: #FFFFFF;
            }
            .swiper-pagination-bullet-active:nth-child(3)::after{
                color: #FFFFFF;
            }
        }
    }
}

/* section04 */

.section04{
    width: 100%;
    padding: 120px 0;
    background: #F6F6F6;
    .top{
        margin-bottom: 60px;
        p{
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 31px;
            text-align: center;
            color: #2B829E;
            margin-bottom: 15px;
        }
        h3{
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 52px;
            text-align: center;
            letter-spacing: -0.02em;
            color: #111111;
        }
    }
    .bottom{
        position: relative;
        width: 63.059%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 180px;
        align-items: center;
        background: url(../img/section04_01.jpg) no-repeat center center;
        background-size: cover;
        padding: 80px 8%;
        .left{
            display: flex;
            align-items: center;
            img{
                margin-right: 60px;
            }
            .text{
                h3{
                    font-family: 'DM Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 21px;
                    color: #FFFFFF;
                    margin-bottom: 10px;
                }
                a{
                    font-family: 'DM Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 26px;
                    color: #FFFFFF;
                }
            }
        }
        span{
            position: absolute;
            display: block;
            width: 1px;
            height: 80px;
            background: #FFFFFF;
            opacity: 0.5;
            left: 0;
            right: 0;
            margin: auto;
        }
        .right{
            display: flex;
            align-items: center;
            img{
                margin-right: 60px;
            }
            .text{
                h3{
                    font-family: 'DM Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 21px;
                    color: #FFFFFF;
                    margin-bottom: 10px;
                }
                a{
                    font-family: 'DM Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 26px;
                    color: #FFFFFF;
                }
            }
        }
    }
}
@media (min-width:901px) and (max-width:1529px) {
    .section04{
        .bottom{
            position: relative;
            width: 63.059%;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            grid-template-columns: 1fr 1fr;
            gap: 80px;
            align-items: center;
            background: url(../img/section04_01.jpg) no-repeat center center;
            background-size: cover;
            padding: 80px 8%;
            .left{
                display: flex;
                align-items: center;
                img{
                    margin-right: 60px;
                }
                .text{
                    h3{
                        font-family: 'DM Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 21px;
                        color: #FFFFFF;
                        margin-bottom: 10px;
                    }
                    a{
                        font-family: 'DM Sans';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 26px;
                        color: #FFFFFF;
                    }
                }
            }
            span{
                position: absolute;
                display: none;
                width: 80px;
                height: 1px;
                background: #FFFFFF;
                opacity: 0.5;
                left: 0;
                right: 0;
                margin: auto;
            }
            .right{
                display: flex;
                align-items: center;
                img{
                    margin-right: 60px;
                }
                .text{
                    h3{
                        font-family: 'DM Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 21px;
                        color: #FFFFFF;
                        margin-bottom: 10px;
                    }
                    a{
                        font-family: 'DM Sans';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 26px;
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
}

footer{
    width: 100%;
    background: #222222;
    p{
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        text-align: center;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        padding: 50px 0;
    }
}